#about {
    width: 100vw;
    height: auto;
    background-color: #ECE1DC;
}

.aboutTitle {
    margin-bottom: 10.563rem;
}

.aboutTextWrap {
    width: 71.625rem;
    margin: 0 auto;
    padding-bottom: 19.5rem;
}

.aboutTextTitleOne,
.aboutTextTitleTwo {
    font-size: 2.25rem;
    font-weight: 700;
    color: #0F0F0F;
    margin-bottom: 2.813rem;
}

.aboutTextOne,
.aboutTextTwo {
    font-size: 1.75rem;
    font-weight: 400;
    color: #0F0F0F;
    line-height: 3.125rem;
}

.aboutTextOne {
    margin-bottom: 3.813rem;
}

/**Mobile L 425X481**/
@media all and (max-width: 426px){
    .aboutTitle {
        margin-bottom: 6.25rem;
    }

    .mobileBlock {
        display: block;
    }

    .aboutTextWrap {
        width: 40rem;
        margin: 0 auto;
        padding-bottom: 20.625rem;
        /* background-color: palegreen; */
    }

    .aboutTextTitleOne,
    .aboutTextTitleTwo {
        font-size: 1.75rem;
        margin-bottom: 1.875rem;
    }

    .aboutTextOne,
    .aboutTextTwo {
        font-size: 1.5rem;
        line-height: 2.75rem;
    }

    .aboutTextOne {
        margin-bottom: 6rem;
    }
}

@media all and (max-width: 374px){
    .aboutTextWrap {
        width: 35rem;
        margin: 0 auto;
        padding-bottom: 20.625rem;
    }

    .aboutTextTitleOne,
    .aboutTextTitleTwo {
        font-size: 1.5rem;
        margin-bottom: 1.875rem;
    }

    .aboutTextOne,
    .aboutTextTwo {
        font-size: 1.25rem;
        line-height: 2.75rem;
    }
}