#footer {
    position: relative;
    display: flex;
    width: 100vw;
    height: 19.188rem;
    background-color: #A49B89;
    justify-content: center;
}

.contactWave {
    position: absolute;
    width: 100vw;
    height: 6.579rem;
    background-image: url(../img/waves.svg);
    background-size: 100% 100%;
    top: -1px;
}

.contactWrap {
    position: absolute;
    display: flex;
    width: 94.94791666667%;
    align-items: baseline;
    justify-content: space-between;
    bottom: 2.749rem;
}

.contactText {
    font-size: 1.125rem;
    font-weight: 600;
    color: #ECE1DC;
}

.contactIcon {
    display: flex;
    width: 13.813rem;
    height: 2.064rem;
    justify-content: space-between;
    align-items: baseline;
}

.contactIcon div {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.github {
    background-image: url(../img/github.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.email {
    background-image: url(../img/email.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.phone {
    background-image: url(../img/phone.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.velog {
    background-image: url(../img/velog.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media all and (max-width: 325px){
    .contactText {
        display: none;
    }

    .contactWrap {
        justify-content: flex-end;
    }
}