#header {
    display: flex;
    width: 100vw;
    height: 7.5rem;
    background-color: #E2D3CD;
    align-items: center;
    justify-content: end;
    font-family: 'GmarketSansMedium';
}

.menuWrap {
    display: flex;
    width: 51.938rem;
    color: #A49B89;
    font-size: 1.5rem;
    justify-content: space-between;
    margin-right: 6.25rem;
}

.menuHome,
.menuAbout,
.menuSkills,
.menuWork,
.menuContact {
    display: flex;
    width: 9.375rem;
    height: 3.125rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menuHover {
    color: #ECECEC;
    border: 2.75px solid #ECECEC;
    border-radius: 10px;
}

.menuHome {

}

.menuAbout {

}

.menuSkills {

}

.menuWorks {

}

.menuContact {

}