.hide {
    display: none;
}

.navMeunWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 14.375rem;
    height: 27rem;
    font-size: 2.25rem;
    font-weight: 400;
    color: #ECE1DC;
    justify-content: space-between;
    top: 16.75rem;
    left: 8rem;
}

.navIcon {
    position: absolute;
    display: flex;
    width: 16.125rem;
    height: 2.251rem;
    justify-content: space-between;
    right: 4rem;
    bottom: 4rem;
}

.navIcon div,
.navIcon a {
    width: 18px;
    background-size: 100% 100%;
    cursor: pointer;
}

.navGithub {
    background-image: url(../img/github.svg);
}

.navEmail {
    background-image: url(../img/email.svg);
}

.navPhone {
    background-image: url(../img/phone.svg);
}

.navVelog {
    background-image: url(../img/velog.svg);
}

@media all and (max-width: 426px){
    #nav {
        display: block;
        position: absolute;
        width: 83.33333333333%;
        height: 100vh;
        background-color: transparent;
        overflow: hidden;
        right: 0;
    }

    .hide {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #A49B89;
        transition: 1s;
        right: -44.625rem;
        z-index: 990;
    }

    .show {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #A49B89;
        transition: 1s;
        right: 0;
        z-index: 990;
    }
}

@media all and (max-width: 390px){
    .hide {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #A49B89;
        transition: 1s;
        right: -40.625rem;
    }

    .show {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #A49B89;
        transition: 1s;
        right: 0;
    }
}