#navAndContact {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    /* background-color: antiquewhite; */
}

/* menuAndWrap */
.menuAndWrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* hamburgerBtn */

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    top: 3.125rem;
    left: 3.125rem;
}

.frontend {
    font-size: 0.625rem;
}

.rowLine {
    width: 1.875rem;
    border-top: 2px solid black;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.dot {
    width: 0.25rem;
    height: 0.25rem;
    background-color: #000;
    border-radius: 50%;
    margin-right: 0.625rem;
}

/* navBtn */

.navBtn {
    position: absolute;
    display: flex;
    width: 6.25rem;
    height: 5rem;
    flex-direction: column;
    justify-content: space-between;
    left: 3.125rem;
    padding-bottom: 0.125rem;
    padding-right: 0.125rem;
}

.checkedBtn {
    width: 0.625rem;
    height: 0.625rem;
    background-color: #000;
    cursor: pointer;
}

.nonCheckedBtn {
    width: 1.875rem;
    height: 0.625rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.profileBtnWrap {
    display: flex;
    align-items: center;
    padding-bottom: 0.125rem;
}

.strengthBtnWrap,
.skillBtnWrap,
.projectBtnWrap {
    display: flex;
    align-items: center;
    padding-bottom: 0.125rem;
}

.profileBtnText,
.strengthBtnText,
.skillBtnText,
.projectBtnText {
    font-size: 0.625rem;
    margin-left: 0.625rem;
}

@keyframes expandBtn {
    from {
        width: 1.875rem;
    }
    to {
        width: 3.125rem;
    }
}

.expandBtn {
    animation: expandBtn 0.3s linear both;
}

/* contact */

.contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 3.125rem;
    right: 3.125rem;
}

.contactText {
    writing-mode: vertical-rl;
}

.contactLine {
    height: 1.25rem;
    border-right: 2px solid #000;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    margin-right: 0.469rem;
}

.githubWrap,
.velogWrap,
.gmailWrap,
.phoneWrap {
    display: flex;
    margin-bottom: 0.625rem;
    align-items: center;
    margin-right: 0.094rem;
}

.githubText,
.velogText,
.gmailText,
.phoneText {
    font-size: 0.625rem;
    margin-right: 0.625rem;
}

.githubImg,
.velogImg,
.gmailImg,
.phoneImg {
    width: 0.875rem;
    height: 0.875rem;
    cursor: pointer;
}