@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow: hidden;
}

@media all and (min-width: 1980px) {
    html {
        font-size: 24px;
        scroll-behavior: smooth;
        overflow: hidden;
    }
}

@media all and (max-width: 768px) {
    html {
        font-size: 12px;
        scroll-behavior: smooth;
        overflow: hidden;
    }
}

body {
    width: 300vw;
    height: 100vh;
    font-family: 'Pretendard-Regular';
}

/* hidden */
.hidden {
    display: none;
}

.flex {
    display: flex;
}

/* pageWrap */
#pageWrap {
    position: relative;
    display: flex;
}

/* profile */

#profile {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

/* picture and text */

.profileInfoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picandtextWrap {
    display: flex;
}

.profilePic {
    width: 10.625rem;
    height: 10.625rem;
    margin-right: 1.875rem;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstText {
    display: flex;
}

.name {
    margin-right: 2.5rem;
}

.name b {
    padding-right: 1.438rem;
}

.phoneNum b {
    padding-right: 1.125rem;
}

.place b {
    padding-right: 1.563rem;
}

.email b {
    padding-right: 1.625rem;
}

.police {
    padding-bottom: 0.625rem;
}

.police b {
    padding-right: 0.625rem;
}

.design {
    margin-top: -0.625rem;
    margin-left: 4.375rem;
}

.profileText b {
    margin-right: 0.313rem;
    font-weight: 700;
}

.profileIntroduce {
    margin-top: 1.875rem;
    font-weight: 700;
}