@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Pretendard-Regular';
}

/* hidden */
.hidden {
    display: none;
}

/* pageWrap */
#pageWrap {
    position: relative;
    display: flex;
    width: 400vw;
    height: 100vh;
}

/* profile */

#profile {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

/* picture and text */

.profileInfoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picandtextWrap {
    display: flex;
}

.profilePic {
    width: 170px;
    height: 170px;
    margin-right: 30px;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstText {
    display: flex;
}

.name {
    margin-right: 40px;
}

.name b {
    padding-right: 23px;
}

.phoneNum b {
    padding-right: 18px;
}

.place b {
    padding-right: 25px;
}

.email b {
    padding-right: 26px;
}

.police {
    padding-bottom: 10px;
}

.police b {
    padding-right: 10px;
}

.design {
    margin-top: -10px;
    margin-left: 70px;
}

.profileText b {
    margin-right: 5px;
    font-weight: 700;
}

.profileIntroduce {
    margin-top: 30px;
    font-weight: 700;
}