#projectWrap{
    position: absolute;
    width: 90vw;
    height: 100vh;
    background-color: paleturquoise;
    align-items: center;
    z-index: 999;
}

@keyframes moveProject {
    from {
        right: 0;
    }
    to {
        right: 100;
    }
}

.moveProject {
    animation: moveProject 0.3s linear both;
}

.projectCont {
    display: flex;
    width: 80vw;
    height: 100vh;
    background-color: palegoldenrod;
    justify-content: space-between;
}

.closeBtn {
    margin-left: 50px;
    cursor: pointer;
}

.projectOne,
.projectThree {
    width: 25%;
    height: 100%;
    background-color: palegreen;
}

.projectTwo,
.projectFour {
    width: 25%;
    height: 100%;
    background-color: pink;
}

.projectOne,
.projectTwo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneNum {
    font-size: 72px;
    margin-bottom: 50px;
}

.oneTitle {
    font-size: 14px;
    font-weight: 600;
}

.oneTeam {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.projectOne img,
.projectTwo img {
    width: 170px;
    margin-bottom: 20px;
}

.oneDate {
    font-size: 10px;
    font-weight: 400;
}

.oneSkill {
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.oneInfo {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 18px;
}