#projectWrap{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: paleturquoise; */
    align-items: center;
    z-index: 999;
}

.projectCont {
    width: 80vw;
    height: 100vh;
    background-color: palegoldenrod;
}

.closeBtn {
    margin-left: 50px;
    cursor: pointer;
}