#projectWrap{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    z-index: 999;
}

@keyframes moveProject {
    from {
        right: 0;
    }
    to {
        right: 100;
    }
}

.moveProject {
    animation: moveProject 0.3s linear both;
}

.projectCont {
    display: flex;
    width: 80vw;
    height: 100vh;
    /* background-color: palegoldenrod; */
    justify-content: space-between;
}

.closeBtn {
    margin-left: 50px;
    cursor: pointer;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour {
    display: flex;
    width: 25%;
    height: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.projectOne,
.projectTwo,
.projectThree {
    margin-right: 3px;
}

.oneNum,
.twoNum {
    font-size: 72px;
    margin-bottom: 50px;
}

.oneTitle,
.twoTitle {
    font-size: 14px;
    font-weight: 600;
}

.oneTeam,
.twoTeam {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.projectOne img,
.projectTwo img {
    width: 170px;
    margin-bottom: 20px;
}

.oneDate,
.twoDate {
    font-size: 10px;
    font-weight: 400;
}

.oneSkill,
.twoSkill {
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 20px;
}

.oneInfo,
.twoInfo {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 18px;
}