#project {
    display: flex;
    width: 600vw;
    height: 100vh;
}

#projectOne,
#projectTwo {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: powderblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projectTwo {
    background-color: palegoldenrod;
}

.projectOneWrap,
.projectTwoWrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.projectOneDemoWrap,
.projectTwoDemoWrap {
    position: relative;
    display: flex;
}

.projectOneTitle,
.projectTwoTitle {
    font-size: 18px;
    font-weight: 700;
}

.projectOneTitle span,
.projectTwoTitle span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 5px;
}

.projectOneDemo,
.projectTwoDemo {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    right: 0;
    cursor: pointer;
    z-index: 999;
}

.projectOneTeam,
.projectTwoTeam {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.projectOneDate,
.projectTwoDate {
    font-size: 10px;
}

.projectOneInfo,
.projectTwoInfo {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projectOneWrap iframe,
.projectTwoWrap iframe {
    z-index: 999;
}

.projectOneNextBtn,
.projectTwoNextBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    z-index: 999;
}

.projectTwoPrevBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    left: 50px;
    bottom: 50px;
    z-index: 999;
}