#project {
    position: absolute;
    display: flex;
    width: 600vw;
    height: 100vh;
    flex-direction: row;
}

#projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive,
#projectSix {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectOneWrap,
.projectTwoWrap,
.projectThreeWrap,
.projectFourWrap,
.projectFiveWrap,
.projectSixWrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.projectOneDemoWrap,
.projectTwoDemoWrap,
.projectThreeWrap,
.projectFourDemoWrap,
.projectFiveDemoWrap,
.projectSixDemoWrap {
    position: relative;
    display: flex;
}

.projectOneTitle,
.projectTwoTitle,
.projectThreeTitle,
.projectFourTitle,
.projectFiveTitle,
.projectSixTitle {
    font-size: 1.125rem;
    font-weight: 700;
}

.projectOneTitle span,
.projectTwoTitle span,
.projectThreeTitle span,
.projectFourTitle span,
.projectFiveTitle span,
.projectSixTitle span {
    font-size: 0.625rem;
    font-weight: 400;
    margin-left: 0.313rem;
}

.projectOneDemo,
.projectTwoDemo,
.projectThreeDemo,
.projectFourDemo,
.projectFiveDemo,
.projectSixDemo {
    position: absolute;
    width: 1.875rem;
    height: 1.875rem;
    background-color: black;
    right: 0;
    cursor: pointer;
    z-index: 999;
}

.projectOneTeam,
.projectTwoTeam,
.projectThreeTeam,
.projectFourTeam,
.projectFiveTeam,
.projectSixTeam {
    font-size: 0.75rem;
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.projectOneDate,
.projectTwoDate,
.projectThreeDate,
.projectFourDate,
.projectFiveDate,
.projectSixDate {
    font-size: 0.625rem;
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo,
.projectFourInfo,
.projectFiveInfo,
.projectSixInfo {
    font-size: 0.75rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    line-height: 1.125rem;
}

.projectOneWrap iframe,
.projectTwoWrap iframe,
.projectThreeWrap iframe,
.projectFourWrap iframe,
.projectFiveWrap iframe,
.projectSixWrap iframe {
    width: 35rem;
    height: 19.688rem;
    z-index: 999;
}

.projectOneNextBtn,
.projectTwoNextBtn,
.projectThreeNextBtn,
.projectFourNextBtn,
.projectFiveNextBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
    right: 3.125rem;
    bottom: 3.125rem;
    z-index: 999;
}

.projectTwoPrevBtn,
.projectThreePrevBtn,
.projectFourPrevBtn,
.projectFivePrevBtn,
.projectSixPrevBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
    left: 3.125rem;
    bottom: 3.125rem;
    z-index: 999;
}