#project {
    display: flex;
    width: 600vw;
    height: 100vh;
}

#projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive,
#projectSix {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: powderblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projectTwo {
    background-color: palegoldenrod;
}

#projectThree {
    background-color: palegreen;
}

#projectFour {
    background-color: pink;
}

#projectFive {
    background-color: palevioletred;
}

#projectSix {
    background-color: paleturquoise;
}

.projectOneWrap,
.projectTwoWrap,
.projectThreeWrap,
.projectFourWrap,
.projectFiveWrap,
.projectSixWrap {
    position: relative;
    display: flex;
    flex-direction: column;
}

.projectOneDemoWrap,
.projectTwoDemoWrap,
.projectThreeWrap,
.projectFourDemoWrap,
.projectFiveDemoWrap,
.projectSixDemoWrap {
    position: relative;
    display: flex;
}

.projectOneTitle,
.projectTwoTitle,
.projectThreeTitle,
.projectFourTitle,
.projectFiveTitle,
.projectSixTitle {
    font-size: 18px;
    font-weight: 700;
}

.projectOneTitle span,
.projectTwoTitle span,
.projectThreeTitle span,
.projectFourTitle span,
.projectFiveTitle span,
.projectSixTitle span {
    font-size: 10px;
    font-weight: 400;
    margin-left: 5px;
}

.projectOneDemo,
.projectTwoDemo,
.projectThreeDemo,
.projectFourDemo,
.projectFiveDemo,
.projectSixDemo {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    right: 0;
    cursor: pointer;
    z-index: 999;
}

.projectOneTeam,
.projectTwoTeam,
.projectThreeTeam,
.projectFourTeam,
.projectFiveTeam,
.projectSixTeam {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.projectOneDate,
.projectTwoDate,
.projectThreeDate,
.projectFourDate,
.projectFiveDate,
.projectSixDate {
    font-size: 10px;
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo,
.projectFourInfo,
.projectFiveInfo,
.projectSixInfo {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projectOneWrap iframe,
.projectTwoWrap iframe,
.projectThreeWrap iframe,
.projectFourWrap iframe,
.projectFiveWrap iframe,
.projectSixWrap iframe {
    z-index: 999;
}

.projectOneNextBtn,
.projectTwoNextBtn,
.projectThreeNextBtn,
.projectFourNextBtn,
.projectFiveNextBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    z-index: 999;
}

.projectTwoPrevBtn,
.projectThreePrevBtn,
.projectFourPrevBtn,
.projectFivePrevBtn,
.projectSixPrevBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    left: 50px;
    bottom: 50px;
    z-index: 999;
}