#projectTwoWrap{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}

.projectTwoCont {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFours {
    width: 200px;
    height: 200px;
    background-color: pink;
    border: 1px solid #000;
}