#strength {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}

/* .strengthWrapOne {
    background-color: aqua;
}

.strengthWrapTwo {
    background-color: bisque;
} */

.strengthOneTitle, 
.strengthTwoTitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.strengthOneText,
.strengthTwoText {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 1rem;
}

