@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

html {
    font-size: 16px;
}

body {
    font-family: 'Pretendard-Regular';
}

/* hidden */
.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

/* pageWrap */
#pageWrap {
    position: relative;
    display: flex;
    width: 400vw;
    height: 100vh;
}

/* profile */

#profile {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

/* menuAndWrap */

.menuAndWrap {
    display: flex;
    flex-direction: column;
}

/* hambegurBtn */

.menu {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: 50px;
}

.hambegurBtn {
    width: 18px;
    height: 18px;
    background-color: black;
}

.rowLine {
    width: 30px;
    border-top: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
}

/* navBtn */

.navBtn {
    position: absolute;
    display: flex;
    width: 100px;
    height: 80px;
    flex-direction: column;
    justify-content: space-between;
    left: 50px;
    padding-bottom: 2px;
    padding-right: 2px;
}

.checkedBtn {
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: pointer;
}

.nonCheckedBtn {
    width: 30px;
    height: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.profileBtnWrap {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.strengthBtnWrap,
.skillBtnWrap,
.projectBtnWrap {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.profileBtnText,
.strengthBtnText,
.skillBtnText,
.projectBtnText {
    font-size: 10px; 
    margin-left: 10px;
}

@keyframes expandBtn {
    from {
        width: 30px;
    }
    to {
        width: 50px;
    }
}

.expandBtn {
    animation: expandBtn 0.3s linear both;
}

/* picture and text */

.profileInfoWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picandtextWrap {
    display: flex;
}

.profilePic {
    width: 170px;
    height: 170px;
    margin-right: 30px;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.firstText {
    display: flex;
}

.name {
    margin-right: 40px;
}

.name b {
    padding-right: 23px;
}

.phoneNum b {
    padding-right: 18px;
}

.place b {
    padding-right: 25px;
}

.email b {
    padding-right: 26px;
}

.police {
    padding-bottom: 10px;
}

.police b {
    padding-right: 10px;
}

.design {
    margin-top: -10px;
    margin-left: 70px;
}

.profileText b {
    margin-right: 5px;
    font-weight: 700;
}

.profileIntroduce {
    margin-top: 30px;
    font-weight: 700;
}

/* contact */

.contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 50px;
    right: 50px;
}

.contactText {
    writing-mode: vertical-rl;
}

.contactLine {
    height: 20px;
    border-right: 2px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 7.5px;
}

.githubWrap,
.velogWrap,
.gmailWrap,
.phoneWrap {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    margin-right: 1.5px;
}

.githubText,
.velogText,
.gmailText,
.phoneText {
    font-size: 10px;
    margin-right: 10px;
}

.githubImg,
.velogImg,
.gmailImg,
.phoneImg {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.nextPageBtn {
    width: 20px;
    height: 20px;
    background-color: #000;
    margin-top: 50px;
    cursor: pointer;
}