@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nanum Myeongjo', serif;
    overflow-x: hidden;
}

/* profile */

.profilePic {
    width: 170px;
    height: 170px;
}