@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ECE1DC;
    overflow-x: hidden;
}

#header .menuWrap a {
    color: #A49B89;
    text-decoration: none 
}

@media all and (min-width: 2100px) {
    html {
        font-size: 22px;
    }
}

@media all and (max-width: 1920px) {
    html {
        font-size: 16px;
    }
}

@media all and (max-width: 1919px) {
    html {
        font-size: 14px;
    }
}

@media all and (max-width: 1300px) {
    html {
        font-size: 12px;
    }
}

@media all and (max-width: 1100px) {
    html {
        font-size: 10px;
    }
}

@media all and (max-width: 800px) {
    html {
        font-size: 8px;
    }
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    color: #A49B89;
    padding-top: 6.25rem;
    margin-left: 6.25rem;
}

/**Mobile L 425X481**/
@media all and (max-width: 426px){
    .title {
        width: 40rem;
        font-size: 2rem;
        margin: 0 auto;
        padding-top: 12rem;
    }    
}

@media all and (max-width: 374px){
    .title {
        width: 35rem;
        font-size: 2rem;
        margin: 0 auto;
        padding-top: 12rem;
    }    
}