#work {
    width: 100vw;
    background-color: #E2D3CD;
}

.workTitle {
    padding-top: 10rem;
}

.workWrapCont {
    display: flex;
    width: 65.72916666667%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
    margin-top: 7.375rem;
    padding-bottom: 3.013rem;
}

.workWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workImg {
    position: relative;
    width: 25rem;
    height: 18.75rem;
    background-color: #ECE1DC;
    border-radius: 5px;
    margin-bottom: 1.538rem;
    cursor: pointer;
}

.workWrapTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0F0F0F;
}

.workWrapText {
    font-size: 0.875rem;
    font-weight: 400;
    color: #818181;
    margin-top: 0.25rem;
    margin-bottom: 1.938rem;
}

.workOne {
    background-image: url(../img/jump.png);
    background-size: 100% 100%;
}

.workTwo {
    background-image: url(../img/hours.png);
    background-size: 100% 100%;
}

.workThree {
    background-image: url(../img/fanletter.png);
    background-size: 100% 100%;
}

.workFour {
    background-image: url(../img/portfolio.png);
    background-size: 100% 100%;
}

.workFive {
    background-image: url(../img/myvoca.png);
    background-size: 100% 100%;
}

.workSix {
    background-image: url(../img/landingpage.png);
    background-size: 100% 100%;
}

@media all and (min-width: 1921px) {
    .workWrapCont {
        width: 68.58974358974%;
    }
}

@media all and (max-width: 1920px){
    .workWrapCont {
        width: 65.72916666667%;
    }
}

@media all and (max-width: 1600px){
    .workWrapCont {
        width: 83.58974358974%;
    }
}

@media all and (max-width: 426px){
    .workWrapCont {
        width: 83.58974358974%;
    }

    .workImg {
        width: 18.375rem;
        height: 13.781rem;
    }

    .workWrapText {
        margin-bottom: 7.625rem;
    }
}

@media all and (max-width: 320px){
    .workWrapCont {
        width: 93.58974358974%;
    }

    .workImg {
        transform: scale(0.8);
    }

    .workWrapText {
        margin-bottom: 2.625rem;
    }

}