#skillSet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.skillLev {
    display: flex;
    width: 60vw;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.625rem;
    margin-bottom: 3.125rem;
}

.levOneWrap,
.levTwoWrap,
.levThreeWrap,
.levFourWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
}

.levOneNum,
.levTwoNum,
.levThreeNum,
.levFourNum {
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.levOneText,
.levTwoText,
.levThreeText,
.levFourText {
    font-size: 0.75rem;
    margin-top: 0.625rem;
    text-align: center;
}

.skillList {
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

.skillListOne p,
.skillListTwo p,
.skillListThree p,
.skillListFour p {
    line-height: 2.25rem;
}