.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* picture */

.picture {
    width: 170px;
    height: 170px;
    background-image: url(../img/profilePic.png);
    background-size: 100% 100%;
}

/* textWrap */

.textWrap {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin-left: 50px;
}

.textWrap .first {
    display: flex;
}

.textWrap .first .birth {
    margin-left: 3.75rem;
}

.textWrap b {
    font-weight: 800;
}

.textWrap p {
    line-height: 36px;
    font-weight: 400;
}
.textWrap .police,
.textWrap .design {
    line-height: 28px;
}

.textWrap .design {
    margin-left: 3.75rem;
}

.growUp {
    font-size: 20px;
    font-weight: 700;
    margin-top: 70px;
}

/* btnWrap */

/* .btnWrap {
    display: flex;
}

.btnWrap button {
    width: 50px;
    height: 10px;
} */