.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
}

.acc {
    position: absolute;
    display: flex;
    top: 50px;
    left: 50px;
    /* background-color: aqua; */
    align-items: center;

}

/* hamburger */

.hamburger {
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    background-image: url(../img/hamburger01.svg);
    cursor: pointer;
}

.hamburger:hover {
    transition: 0.2s;
    background-image: url(../img/hamburger02.svg);
}

.rowLine {
    width: 40px;
    border-top: 2px solid #b8b8b8;
    margin-left: 10px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #000;
    margin-left: 10px;
}

.title {
    margin-left: 10px;
}

/* nav */

.nav {
    width: 100px;
    margin-left: 50px;
}

.profileWrap,
.strengthWrap,
.skillWrap,
.projectWrap {
    display: flex;
    margin-bottom: 20px;
}

.strengthWrap,
.skillWrap,
.projectWrap {
    padding-bottom: 2px;
}

.profile {
    width: 10px;
    height: 10px;
    background-color: #000;
    cursor: pointer;
}

.profileWrap:hover::after,
.strengthWrap:hover::after,
.skillWrap:hover::after,
.projectWrap:hover::after {
    font-size: 10px;
    margin-left: 10px;
}

.profileWrap:hover::after {
    content: 'profile';
}

.strengthWrap:hover::after {
    content: 'strength';
}

.skillWrap:hover::after {
    content: 'skill';
}

.projectWrap:hover::after {
    content: 'project';
}

.strength,
.skill,
.project {
    width: 25px;
    height: 10px;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.strength:hover,
.skill:hover,
.project:hover {
    transition: 0.2s;
    width: 50px;
}

/* contact */

.contactWrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 50px;
    align-items: flex-end;
}

.contact {
    writing-mode: vertical-rl;
    font-weight: 700;
}

.line {
    height: 40px;
    border-right: 2px solid #b8b8b8;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 8px;
}

.github,
.gmail,
.velog,
.phone {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.githubIcon,
.gmailIcon,
.velogIcon,
.phoneIcon {
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    margin-right: 2px;
}

.github:hover::before,
.gmail:hover::before,
.velog:hover::before,
.phone:hover::before {
    font-size: 10px;
    margin-right: 10px;
}

.githubIcon {
    background-image: url('../img/github.svg');
}

.github:hover::before {
    content: 'Github';
}

.gmailIcon {
    background-image: url('../img/gmail.svg');
}

.gmail:hover::before {
    content: 'Gmail';
}

.velogIcon {
    background-image: url('../img/velog.svg');
}

.velog:hover::before {
    content: 'Velog';
}

.phoneIcon {
    background-image: url('../img/phone.svg');
}

.phone:hover::before {
    content: 'Velog';
}
